*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: Roboto Mono, sans-serif;
    box-sizing: border-box;
}

:root {
    --winning-blocks: #d55c5c;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

body {
    background-image: url('./assets/images/background.jpeg');
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    padding: 50px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}

#gameBoard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height:150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6)~.box {
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(91, 29, 29);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

audio {
    margin-top: 30px;
}
